# npm 
client/node_modules/
client/build
database/
## etc
.DS_Store
__pycache__/
*.py[cod]
*$py.class

## for pycharm
venv
venv2
.idea

## osint tools
server/osint/tools/lib/maigret
reports/
server/osint/reports